<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhlo.oa.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.yhlo.oa.entity.OrderVO">
        insert into order_info(
           order_no, status, crate_by, crate_time
        )values(
           #{orderNo, jdbcType=VARCHAR},
           #{status, jdbcType=VARCHAR},
           #{createBy, jdbcType=VARCHAR},
           sysdate()
        )
    </insert>

    <select id="queryOrderList" resultType="com.yhlo.oa.entity.OrderVO">
        SELECT ORDER_NO as orderNo,
               STATUS   as status,
               CRATE_BY as createBy,
               date_format(CRATE_TIME,'%Y-%m-%d %H:%i:%S') as createTime
          FROM ORDER_INFO
    </select>
</mapper>
